* {
    margin: 0;
    padding: 0;
    --dark: #2B3956;
    --text: #E4EFF0;
    --sky: #AFD0DB;
    --sea: #4B7196;
    --cherry: #E8464E;
}

body {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sea);
}

.logo {
    height: 40px;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

ul {
    margin: 0 20px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: var(--text);
    text-transform: uppercase;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
}

footer {
    width: 100vw;
    height: 6vh;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    color: var(--sky);
    text-align: center;
    padding-top: 100%;
}