* {
    margin: 0;
    padding: 0;
    --dark: #233A48;
    --white: #FAFAF6;
    --text: #E5E3CE;
    --text-dark: #23343F;
    --avocado: #426E66;
    --lime: #BED0A6;
    --leave: #6C9585;
    --strong: abril-fatface, serif;
}

body {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: var(--text);
    text-transform: uppercase;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
}

.nav-btn {
    width: 100px;
    height: 35px;
    border-style: none;
    border-radius: 20px;
    background-color: var(--avocado);
    margin: 0 20px;
}

.nav-btn-text {
    color: var(--white);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-svg {
    position: absolute;
    width: 100vw;
    top: 8vh;
    z-index: 1;
}

.hero-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 60px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--strong);
    font-weight: 400;
    color: var(--leave);
    font-size: 80px;
}

.hero-code {
    background-color: var(--leave);
    width: 600px;
    height: 300px;
    border-radius: 14px;
}

footer {
    width: 100vw;
    height: 6vh;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    color: var(--text);
    text-align: center;
    padding-top: 100%;
}